.Form {
    width: 440px;
    height: 59px;
    display: flex;
    align-items: center;
}


.Input {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 40px;
    border: none;
    padding: 16px 154px 16px 27px;
    font-size: 16px;
    flex-grow: 2;
}

.WrapperFormContact {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    position: relative;
}

.Button {
    width: 43px;
    height: 43px;
    background-color: red;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-left: -60px;
}

.Button:focus {
    outline: none;
    outline-offset: none;
}

.Input:focus {
    outline: none;
    outline-offset: none;
}

.Anchor {
    color: white;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    display: flex;
    align-items: center;
    position: absolute;
    right: 50px;
    cursor: pointer;
}

.Anchor img {
    margin-left: 8px;
}

.Anchor:hover {
    transition: 0.8s;
    color: red;
}

@media all and (max-width: 1000px) {
    .Anchor  {
        width: 100%;
        right: 0px;
        bottom: 25px;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        justify-content: center;
    }

    
    
    .WrapperFormContact {
        align-items: flex-start;
        padding-top: 20px;
    }

    .Form {
        width: 360px;
        height: 41px;
    }

    .Button {
        width: 33px;
        height: 33px;
    }

    .Button img{
        width: 33px;
        height: 33px;
    }

    .Input {
        padding: 16px 80px 16px 27px;
    }

    .Input::placeholder {
        font-size: 14px;
    }
}

@media all and (max-width: 688px) {
    .Form {
        width: 280px;
        height: 41px;
    }

    .Button {
        margin-left: -40px;
    }

    .Input {
        padding: 16px 50px 16px 27px;
    }
}