.Events {
    padding-top: 100px;
}

.EventsTitle {
    line-height: 74.88px;
    font-size: 72px;
    color: #162C4E;
    opacity: 39%;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
}

.EventsContent {
    width: 1708px;
    height: 682px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.StaticEvent {
    width: 85px;
    height: 682px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7px;
    position: relative;
    cursor: pointer;
    z-index: 20;
}


.StaticEvent h3 {
    width: 560px;
    color: white;
    height: 85px;
    transform: rotate(270deg);
    position: relative;
    top: 50%;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -40px;
}

.StaticEvent p {
    color: white;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
}

.RedLine{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 4px;
    background-color: red;
}

.OpenEvent {
    width: 995px;
    height: 682px;
    position: relative;
    z-index: 10;
}

.SmallOpenEvent {
    width: 85px;
    height: 682px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7px;
    position: relative;
    background-image: url(https://i.ibb.co/vXvqvvH/Rectangle-35-1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.SmallOpenEvent H3 {
    width: 560px;
    color: white;
    height: 85px;
    transform: rotate(270deg);
    position: relative;
    top: 50%;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -40px;
}

.SmallOpenEvent p {
    color: white;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
}

.MbBlur {
    width: 100%;
    height: 192px;
    position: absolute;
    bottom: 50px;
    padding: 25px 479px 40px 40px;
}

.MbBlur h4 {
    margin-bottom: 12px;
    color: white;
    font-weight: 600;
    line-height: 21.6px;
    font-size: 24px;
}

.MbBlur p {
    margin-bottom: 29px;
    line-height: 24px;
    font-weight: 400px;
    font-size: 16px;
    color: white;
}

.MbBlur a {
    display: block;
    width: 256px;
    height: 62px;
    border: 1px solid white;
    padding: 20px 56px 20px 56px;
    color: white;
    margin-top: 25px;
}

@media all and (max-width: 1710px) {
    .EventsContent {
        width: 688px;
        height: 1172px;
        display: flex;
        flex-direction: column;
    }
}

.StaticEventMedium {
    width: 688px;
    height: 85px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 3px;
}

.StaticEventMedium h3 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    color: white;
    margin-right: 32px;
    margin-left: 36px;
}

.StaticEventMedium p {
    line-height: 24px;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.StaticEventMedium .RedLineMedium {
    position: absolute;
    width: 100%;
    border: 1px solid red;
    bottom: 0px;
}

.OpenEventMedium {
    width: 100%;
    height: 460px;
    position: relative;
    margin-bottom: 3px;
}

.SmallOpenEventMedium {
    width: 688px;
    height: 85px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 15;
    margin-bottom: 3px;
}

.SmallOpenEventMedium h3 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    color: white;
    margin-right: 32px;
    margin-left: 36px;
}

.SmallOpenEventMedium p {
    line-height: 24px;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.MbBlurMedium {
    width: 100%;
    height: 192px;
    position: absolute;
    bottom: 0px;
    padding: 25px 479px 40px 40px;
}

.MbBlurMedium h4 {
    margin-bottom: 8px;
    color: white;
    font-weight: 600;
    line-height: 21.6px;
    font-size: 18px;
}

.MbBlurMedium p {
    margin-bottom: 29px;
    line-height: 24px;
    font-weight: 400px;
    font-size: 16px;
    color: white;
}

.MbBlurMedium a {
    display: block;
    width: 169px;
    height: 44px;
    border: 1px solid white;
    color: white;
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    padding: 13px 0px 6px 15px;
    position: relative;
}

.LinkWhiteLine {
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 5px;
    background-color: white;
}