.Events {
    padding-top: 100px;
}

.EventsTitle {
    line-height: 74.88px;
    font-size: 72px;
    color: #162C4E;
    opacity: 39%;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 30px;
}

.EventsContent {
    width: 1708px;
    height: 682px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.StaticEvent {
    width: 85px;
    height: 682px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7px;
    position: relative;
    cursor: pointer;
    z-index: 20;
}


.StaticEvent h3 {
    width: 560px;
    color: white;
    height: 85px;
    transform: rotate(270deg);
    position: relative;
    top: 50%;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -40px;
}

.StaticEvent p {
    color: white;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
}

.RedLine{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 4px;
    background-color: red;
}

.OpenEvent {
    width: 995px;
    height: 682px;
    position: relative;
    z-index: 10;
}

.SmallOpenEvent {
    width: 85px;
    height: 682px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7px;
    position: relative;
    background-image: url(https://i.ibb.co/vXvqvvH/Rectangle-35-1.png);
    background-repeat: no-repeat;
    background-position: center;
}

.SmallOpenEvent H3 {
    width: 560px;
    color: white;
    height: 85px;
    transform: rotate(270deg);
    position: relative;
    top: 50%;
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: -40px;
}

.SmallOpenEvent p {
    color: white;
    font-size: 40px;
    line-height: 40px;
    font-weight: 500;
}

.StaticEventMedium {
    width: 688px;
    height: 85px;
    display: flex;
    align-items: center;
    padding-left: 36px;
}

.StaticEventMedium h3 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    color: white;
    margin-right: 32px;
}

.StaticEventMedium p {
    line-height: 24px;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

.OpenEventMedium {
    width: 100%;
    height: 460px;
}

.SmallOpenEventMedium {
    width: 688px;
    height: 85px;
    display: flex;
    align-items: center;
    padding-left: 36px;
}

.SmallOpenEventMedium h3 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 500;
    color: white;
    margin-right: 32px;
}

.SmallOpenEventMedium p {
    line-height: 24px;
    font-size: 24px;
    font-weight: 600;
    color: white;
}

@media all and (max-width: 1710px) {
    .EventsContent {
        width: 688px;
        display: flex;
        flex-direction: column;
    }
}