.Hero {
    width: 838px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.Description {
    text-align: center;
    width: 423px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 8px;
}