.Time {
    width: 567px;
    height: 131px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 32px;
}

@media all and (max-width: 838px) {
    .Time {
        width: 100%;
    }
}

@media all and (max-width: 668px) {
    .Time {
        width: 100%;
    }
}