.MainTitle {
    line-height: 74.88px;
    font-size: 72px;
    color: #162C4E;
    opacity: 39%;
    text-transform: uppercase;
}

@media all and (max-width: 838px) {
    .MainTitle {
        font-size: 36px;
        font-weight: 700;
        line-height: 37.44px;
    }
}

@media all and (max-width: 668px) {
    .MainTitle {
        font-weight: 700;
        line-height: 37.44px;
        font-size: 36px;
        text-align: center;
    }
}